.arc {
  position:absolute;
  top: 0;
  pointer-events: none;
}

.arcLimit {
  position: absolute;
  top: 50%;
  right:1%;
  margin: 0;
  padding-top: 4px;
  font-size: .72rem;
  color: grey;
  border-top: 4px solid grey;
  z-index: 2;
}

.Readout {
  font-size:6rem;
  font-weight:100;
  padding:0;
  width:8rem;
  color: #d8d8d8;
  border:none;
  border-bottom: 1px solid #b9b9b9;
  background:none;
  text-align: center;
}

.Readout:focus {
  outline:none;
}

.Scale {
  align-self:flex-start;
  font-size:1.5rem;
  color: #d8d8d8;
  margin: 0.6rem 0 0 0;
}

.Temperature {
  width: 15rem;
  height:15rem;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #767676;
  border: 4px solid #979797;
  border-radius: 50%;
  z-index: 1;
}

.TemperatureReading {
  display: flex;
  align-items: center;
  justify-content:center;
  height:43%;
  pointer-events: auto;
}

.TemperatureSlider {
  -webkit-appearance: none;
  top:0;
  height:30px;
  width: 300px;
}

.TemperatureSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  z-index: 3;
}

.Thermostat {
  width: 20rem;
  height:20rem;
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d8d8d8;
  border: 10px solid #979797;
  border-radius: 50%;
  position: relative;
  pointer-events: none;
}

.ThermostatWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 40%;
  pointer-events: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}


.colors {
  color: #cdcdcd;
  background-color: #8c8c8c;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* ROUND SLIDER CSS OVERRIDE */

.sliderHandle {
  z-index: 3;
}

.sliderHandle:after {
  background-image: url(./thermoSlider.svg)!important;
  width: 3.5rem!important;
  height: 3.5rem!important;
  border: none!important;
  right: -0.8rem!important;
}